.fade-in-half-second {
  display: "block";
  animation: fadeIn;
  /* animation-delay: 0.2s; */
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
}

.fade-in-half-second-with-delay {
  display: "block";
  animation: fadeIn;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.fade-out-half-second {
  display: "block";
  animation: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.hidden {
  display: none;
}
