.fade-in-half-second {
  display: "block";
  animation: fadeIn;
  /* animation-delay: 0.2s; */
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
}

.fade-in-half-second-with-delay {
  display: "block";
  animation: fadeIn;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.fade-out-half-second {
  display: "block";
  animation: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.hidden {
  display: none;
}

/* .rsvp-form {
  border-radius: 20px !important;
} */

/* .rsvp-form::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.rsvp-form::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  padding: 0 2px;
  overflow: hidden;
}


.rsvp-form::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #999;
  margin: 0 2px;
}

.rsvp-form::-webkit-scrollbar-thumb:hover {
  background-color: #848484;
}

.rsvp-form::-webkit-scrollbar-track-piece {
  background-color: #ccc;
  padding: 0 2px;
  overflow: hidden;
} */

/* .rsvpcontainer::-webkit-scrollbar {
  width: 1em;
}
*/

/* .rsvpcontainer::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}  */
