.leaflet-control-layers-overlays label {
  /* border: 1px solid blue; */
  font-family: Cabin;
  font-weight: 500;
  font-size: 14px;
}

input[type="checkbox"] {
  /* outline: 1px solid #2d2d2d; */
}

/* input[type="checkbox"]:checked {
  background-color: green !important;
  outline: 1px solid #f00;
} */
