.slide-out {
  animation: slideOutLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.slide-in {
  animation: slideInLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.hidden {
  display: none;
}

.vertical-center {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 101;
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
