.slide-out {
  animation: slideOutLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.slide-in {
  animation: slideInLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.hidden {
  display: none;
}

.vertical-center {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
