.link-wrapper::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  /* background: #2d2d2d; */
  background: #6c757d;
  transition: width 0.2s;
  /*  */
  position: relative;
  bottom: 4px;
  margin: 2px auto 0;
}

.link-wrapper:hover::after {
  width: 50%;
  transition: width 0.1s;
}
